/* Universal Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*-- End Universal Reset --*/


/*-- Links --*/
a:link {
  color: inherit;
  text-decoration: none;
}
a:visited {
  color: inherit;
}
/*-- End Links --*/


/*-- Main --*/
body {
  line-height: 1.5;
}
h1 {
  margin-bottom: 20px;
}
h3 {
  font-size: 1.7em;
  margin: 10px 0;
}
/*-- End Main --*/


/*-- Header --*/
nav {
  background-color: #000;
  color: #fff;
  font-size: 1.4em;
  text-align: center;
  text-transform: uppercase;
}
nav li {
  list-style-type: none;
  padding: 20px;
}
nav li:hover{
  background: red;
}
.title-color{
  color: red;
}
header p {
  background: linear-gradient(rgba(255,255,255,.4), rgba(255,255,255,.4)), url("../Resources/treadmill.jpg") no-repeat center;
  background-size: cover;
  color: #000;
  height: 300px;
  font-size: 2.2em;
  padding: 100px 50px;
  text-align: center;
}
/*-- End Header --*/


/*-- Sign Up --*/
.join-us {
  align-items: center;
  background: #000;
  color: #fff;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: center;
}
.join-us a{
  background: red;
  border-radius: 5px;
  margin-left: 20px;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1.3rem;
}
.join-us a:hover{
  opacity: .7;
}
/*-- End Sign Up --*/


/*-- Packages --*/
.container {
  margin: 0 auto 50px;
  text-align: center;
  width: 90%;
}
/*-- End Packages --*/


/*-- Section 1 --*/
.section-1 {
  margin-top: 50px;
}
.line {
  border-bottom: 1px #333333 solid;
  color: #fff;
}
.section-title-content {
  margin-top: 30px;
  margin-bottom: 20px;
}
/*-- End Section 1 --*/


/*-- Packages --*/
.section-2 {
  background-color: #777;
  padding: 40px 0 20px;
}
.section-2-title {
  color: #fff;
  margin-bottom: 50px;
}
.section-2-content {
  margin-bottom: 20px;
}
.line-2 {
  color: #c0c5ce;
  border-bottom: 1px solid #fff;
}
.section-2 .item-1, .section-2 .item-2, .section-2 .item-3 {
  margin-top: 10px;
  transition: transform .3s;
} 
.pricing-title, .pricing-title-big {
  color: #fff;
  background-color: #000;
  font-size: 1.2em;
  padding: 10px;
}
.pricing-title:hover {
  background-color: red;
  transition: background-color .5s;
}
.pricing-title-big {
  background-color: red;
  font-size: 1.4rem;
}
.pricing-content {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .3);
  padding: 15px;
}
.sign-up-container {
  color: #000;
  padding: 20px;
}
.sign-up {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 100px;
  transition: background-color .5s, color .5s;
}
.sign-up:hover {
  background-color: #000;
  color: #fff;
  transition: background-color .5s, color .5s;
}
/*-- End Packages --*/


/* Contact Form CSS */
.input {
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 5px;
  display: block;
  margin: 10px;
  padding: 5px;
  text-shadow: 0;
  width: 100%;
}
.section-3 {
  padding-top: 30px;
}
.section-3 .item-2 {
  margin-left: -10px;
}
.contact-button {
  border: 1px solid #000;
  margin-left: 10px;
  padding: 10px;
  transition: background-color .5s, color .5s;
  width: 100%;
  border-radius: 5px;
}
.contact-button:hover {
  background-color: #000;
  color: #fff;
  transition: background-color .5s, color .5s;
}
/*-- End Contact Form CSS --*/


/*-- Locations --*/
.gyms-title {
  font-size: 1.8em;
  margin-top: 2em;
}
.gyms-container img {
  height: 300px;
  max-width: 100%;
}
.gyms-item-1, .gyms-item-2, .gyms-item-3 {
  margin: 50px 0;
  transition: transform .5s;
}
.gyms-item-1:hover, .gyms-item-2:hover, .gyms-item-3:hover {
  transform: scale(1.06);
  transition: transform .4s;
}
.gyms-content {
  background-color: #000;
  color: #fff;
  margin: -7px auto 0;
  padding: 15px;
  max-width: 397px;
}
.gyms-content h3 {
  margin-top: 0;
}
/*-- End Location --*/


/* Footer CSS */
.main-footer {
  background-color: #000;
  color: #fff;
  padding: 40px;
  text-align: center;
}
.main-footer p {
  margin-bottom: 10px;
}
.social-icon {
  font-size: 1.2em;
  margin-bottom: 40px;
  margin-right: 10px;
  transition: color .5s;
}
.social-icon:hover {
  color: red;
  transition: color .5s;
}
.contact-icon {
  margin-right: 10px;
}
.contact-info {
  line-height: 0;
}
.hello {
  color: #fff;
  font-size: 1.4em;
  font-weight: 600;
}
/*-- End Footer CSS --*/


/* Sign Up Form CSS */
.join-now-container {
  margin: 0 auto;
  width: 100%;
}
.sign-up-form {
  color: #000;
  margin: 50px 0;
  text-align: left;
}
.sign-up-form h2 {
  margin-bottom: 40px;
  text-align: center;
}
fieldset {
  border: none;
}
legend {
  font-size: 1.2em;
  margin-bottom: 30px;
}
#name, #email, #password, #bio{
  border-radius: 5px;
}
#bio{
  margin-bottom: 35px;
}
input[type="text"], input[type="email"], input[type="password"], textarea, select {
  background-color: rgba(227, 228, 230, 0.2);
  border: 1px solid rgba(0, 0, 0, .2);
  margin: 20px 0;
  padding: 10px;
  width: 100%;
}
.number {
  background-color: red;
  border-radius: 50%;
  color: #fff;
  margin: 20px 10px 0 0;
  padding: 10px 16px;
}
.block-label {
  display: block;
  margin-bottom: 10px;
}
#male, #female{
  margin-bottom: 20px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0 10px;
}
button {
  background-color: red;
  color: #FFF;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-top: 40px;
  padding: 15px;
  width: 100%;
  margin-bottom: 40px;
}
button:hover{
  opacity: .7;
}
/*-- End Sign Up Form --*/


/*-- Team --*/
.gym-title{
  text-align: center; 
  margin: 50px;
}
.trainer-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  margin-bottom: 50px;
  justify-items: center;
  text-align: center;
}
.staff-img{
  max-height: 40vw;
  max-width: 45vw;
}
/*-- End Team */


/* Other CSS */
.fa{
  margin-top: 40px;
}
#scrollup {
  background-color: #000;
  border-radius: 50%;
  bottom: 30px;
  height: 40px;
  padding: 6px 17px;
  position: fixed;
  left: 30px;
  width: 40px;
}
#scrollup i {
  margin-left: -3px;
  margin-top: -0px;
  transition: background-color .5s, border .5s;
}
#scrollup:hover {
  background-color: red;
  transition: background-color .5s, border .5s;
}
/*-- End Other CSS *--/


/*-- Animation --*/
.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}
#delay-1 {
  animation-delay: 200ms !important;
}
#delay-2 {
  animation-delay: 400ms !important;
}
#delay-3 {
  animation-delay: 600ms !important;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*-- End Animations --*/


/*-- Media Queries --*/
@media only screen and (max-width: 760px) {
  .trainer-profile img {
    max-height: 280px;
    max-width: 350px;
  }
  .team-container{
    vertical-align: middle;
  }
}

@media only screen and (min-width: 769px) {
  /*-- Headerx --*/
  .main-header nav, .main-header ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
  }
  .main-header nav {
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
  }
  .main-header ul {
    margin-right: 10%;
  }
  .main-header h1 {
    align-self: center;
    margin: 0 auto 0 10%;
  }
  .main-header li {
    margin-right: 30px;
  }
  /*-- End Header --*/


  /*-- Container CSS --*/
  .container {
    width: 80%;
  }
  .flex-container {
    display: flex;
  }
  /*-- End Container --*/


  /*-- Section 1 --*/
  .item-1, .item-2, .item-3 {
    flex-grow: 1;
  }
  .section-1 .item-2 {
    margin: 0 20px;
  }
  /*-- End Section 1 --*/


  /*-- Section 2 --*/
  .section-2 .item-2 {
    margin: 0 20px;
  }
  .sign-up {
    padding: 10px 50px;
  }
  /*-- End Section 2 --*/


  /*-- Section 3 --*/
  .section-3 .item-2 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
  .section-3 .item-2 .input {
    flex-grow: 0.7;
    margin-top: 20px;
  }
  /*-- End Section 3 --*/


  /*-- Footer --*/
  .main-footer {
    text-align: left;
  }
  .main-footer .item-1, .main-footer .item-2 {
    flex: 1;
  }
  .main-footer .item-1 {
    flex: 2 40%;
  }
  .copyright {
    text-align: center;
  }
  /*-- End Footer --*/


  /*-- Sign Up Form --*/
  .join-now-container {
    width: 70%;
  }
  /*-- End Sign Up Form --*/


  /*-- Gyms --*/
  .gyms-title {
    font-size: 2em;
  }
  .gyms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .gyms-item-1, .gyms-item-2, .gyms-item-3, {
    flex-grow: 1;
  }
  /*-- End Gyms --*/


  /*-- Trainers Page --*/
  .trainer-profile{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 0 auto 50px;
    width: 70%;
  }
  .trainer-profile img {
    max-width: 100%;
  }
  .trainer-profile-content {
    height: 250px;
    padding: 20px;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  /* End Trainers Page --*/
}

/*-- Mobile Landscape Mode CSS --*/
@media only screen and (min-width: 500px) and (orientation: landscape) {
  /*-- Header --*/
  header nav, header ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 1em;
  }
  header nav {
    justify-content: space-around;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  header ul {
    margin-right: 10%;
  }
  header h1 {
    align-self: center;
    margin: 0 auto 0 10%;
  }
    header li {
    margin-right: 30px;
  }
  /*-- End Header --*/


  /*-- Container --*/
  .container {
    width: 80%;
  }
  .flex-container {
    display: flex;
  }
  /*-- End Container --*/


  /*-- Section 1 --*/
  .item-1, .item-2, .item-3 {
    flex-grow: 1;
  }
  .section-1 .item-2 {
    margin: 0 20px;
  }
  /*-- End Section --*/


  /*-- Section 2 --*/
  .section-2 .item-2 {
    margin: 0 20px;
  }
  /*-- End Section 2 --*/


  /*-- Section 3 --*/
  .section-3 .item-2 {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }
  .section-3 .item-2 .input {
    flex-grow: 0.7;
    margin-top: 20px;
  }
  /*-- End Section 3 --*/


  /*-- Footer --*/
  .main-footer {
    text-align: left;
  }
  .main-footer .item-1, .main-footer .item-2 {
    flex: 1;
  }
  .main-footer .item-1 {
    flex: 2 40%;
  }
  .copyright {
    text-align: center;
  }
  .contact-info {
    line-height: 1.5;
  }
  /*-- End Footer --*/


  /*-- Sign Up Form --*/
  .join-now-container {
    width: 70%;
  }
  /*-- End Sign Up Form --*/


  /*-- Gyms --*/
  .gyms-title {
    font-size: 2em;
  }
  .gyms-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .gyms-item-1, .gyms-item-2, .gyms-item-3, {
    flex-grow: 1;
  }
  /*-- End Gyms --*/


  /*-- Trainers --*/
  .trainer-profile {
    flex-direction: row;
  }
  .trainer-profile img {
    max-height: 250px;
  }
  .trainer-profile-content {
    height: 250px;
    font-size: 1rem;
    text-align: center;
  }
  .reverse {
    flex-direction: row-reverse;
  }
  /*-- End Trainers --*/
}

@media only screen and (min-width: 1024px) {
  /*-- Join --*/
  header p {
    font-size: 3em;
    padding: 20%;
  }
  .join-us h2 {
    margin-right: 5%;
  }
  .join-us p {
    font-size: 1.3em;
    width: 100px;
  }
  /*-- End Join --*/


  /*-- Sign Up Form --*/
  .join-now-container {
    width: 40%;
  }
  /*-- End Sign Up Form --*/


  /*-- Trainer --*/
  .trainer-profile {
    width: 70vw;
  }
  .trainer-profile-content {
    padding-top: 8%;
  }
  /*-- End Trainer --*/
}

